# Data Viz - Video Game Sales and Ratings

### Part 1 - Visualization

Data Source: https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings

In [1]:
# Import libraries and CSV
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

%matplotlib inline
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

### A - Explore Data

In [2]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.tail()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(16719, 16)

In [5]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [6]:
null_cols = df.isnull().sum()
null_cols

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

Note that publisher and developer appear to be the same. Lets clean that up.

In [ ]:
df['Publisher'] = np.where(df['Publisher'].isna()==True, df['Developer'], df['Publisher'])
df.drop(['Developer'], axis=1, inplace=True)

In [ ]:
df['Rating'].value_counts()

In [ ]:
df['Rating'] = df['Rating'].replace('E10+','E')
df['Rating'] = df['Rating'].replace('K-A','E')
df['Rating'] = df['Rating'].replace('AO','M')
df['Rating'] = df['Rating'].replace('RP','E')
df['Rating'] = df['Rating'].replace('EC','E')

In [ ]:
df['Rating'].value_counts()

In [7]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [8]:
df['Genre'].value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [9]:
df['User_Score'].value_counts()

tbd    2425
7.8     324
8       290
8.2     282
8.3     254
8.5     253
7.5     251
7.9     249
8.1     244
7.7     240
7.3     236
8.4     223
7.6     220
7       220
7.4     215
8.6     211
6.8     197
8.7     188
8.8     186
7.1     180
7.2     167
8.9     153
6.6     148
6.9     143
6.3     138
6.7     128
6       127
6.5     125
9       120
6.2     113
       ...
2.5      12
2        11
2.4      11
9.4      11
1.7       9
2.9       9
2.1       9
2.7       8
9.5       6
2.2       6
1.8       6
1.4       5
2.6       4
1.6       3
1.2       3
1.9       2
0.5       2
0.9       2
1.5       2
9.6       2
0.7       2
2.3       2
1.1       2
1         2
0.6       2
0.2       2
0.3       2
1.3       2
0         1
9.7       1
Name: User_Score, Length: 96, dtype: int64

In [10]:
df['User_Score'] = np.where(df['User_Score']=='tbd', None, df['User_Score'])
df['User_Score'] = df['User_Score'].astype(float)

Score info appears to be spotty. For our purposes, lets divide data set into 2:

1. Sales information only.
2. Sales and Ratings for games with no "Null" Values

In [11]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [ ]:
df = df[['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales','Rating']]

In [ ]:
df2 = df.copy()

In [ ]:
df1.isnull().sum()

In [ ]:
df1['Rating'].fillna('U', inplace=True)

In [ ]:
df1[df1['Genre'].isna()==True]

In [ ]:
df1 = df1.dropna()

In [ ]:
df1.isnull().sum()

In [ ]:
df1['Year_of_Release'] = df1['Year_of_Release'].astype(int)

In [ ]:
df1.info()

df2 Stuff

In [ ]:
df.isnull().sum()

In [ ]:
df2 = df2[df2['User_Score'].isna() != True]

In [ ]:
df2.isnull().sum()

In [ ]:
df2 = df2[df2['Critic_Score'].isna() != True]

In [ ]:
df2.isnull().sum()

In [ ]:
df2.shape

In [ ]:
df2 = df2.dropna()
df2.shape

In [ ]:
df2.info()

In [ ]:
df2.describe()

In [ ]:
df2['Critic_Score'] = df2['Critic_Score']/10

In [ ]:
df2['Year_of_Release'] = df2['Year_of_Release'].astype(int)

In [ ]:
df1.head()

In [ ]:
df2.head()

# 1 - Simple Data Viz

In [ ]:
var1 = np.arange(0,10,1)
var2 = var1 ** 2

plt.plot(var1, var2)

In [ ]:
plt.scatter(var1, var2)
plt.show()

In [ ]:
plt.figure(figsize=(16,5))

plt.scatter(var1, var2, color='r')

plt.xlabel("X Label", fontsize = 16, labelpad=10)
plt.ylabel("Y Label", fontsize = 16, labelpad=10)
plt.title("Cool Graph Bro", fontsize=20)

plt.show()

In [ ]:
plt.figure(figsize=(16,5))

plt.scatter(df2['Critic_Score'] , df2['User_Score'], color='g')

var1 = np.arange(0,11,1)
var2 = var1

plt.plot(var1, var2)

plt.xlabel("Critic_Score", fontsize = 16, labelpad=10)
plt.ylabel("User_Score", fontsize = 16, labelpad=10)

plt.title("Cool Graph Bro", fontsize=20)

plt.show()

In [ ]:
plt.figure(figsize=(16,5))

plt.scatter(df2['Global_Sales'] , df2['Critic_Score'], color='c')

plt.show()

In [ ]:
sns.set()

In [ ]:
plt.figure(figsize=(16,5))

plt.scatter(df2['Global_Sales'] , df2['Critic_Score'], color='c')

plt.show()

In [ ]:
plt.figure(figsize=(16,5))

df2_temp = df2[(df2['Global_Sales']<=5) & (df2['Global_Sales']>=0.05)]

plt.scatter(df2_temp['Global_Sales'] , df2_temp['Critic_Score'], color='c')

plt.title("Sales vs. Critic Score")
plt.xlabel("Global Sales (in Million $)", fontsize = 16, labelpad=10)
plt.ylabel("Critic_Score", fontsize = 16, labelpad=10)

plt.show()

In [ ]:
plt.figure(figsize=(16,5))


sns.jointplot(y='Critic_Score',x='Global_Sales',data=df2_temp,kind='reg', height=8, color='c')


plt.title("Sales vs. Critic Score")
plt.tight_layout()
plt.show()

# Histograms

In [ ]:
df2['User_Score'].hist()

In [ ]:
df2['User_Score'].hist(color='g', bins=30)

In [ ]:
plt.figure(figsize=(16,5))

df2['User_Score'].hist(color='g', bins=30)

plt.xlabel("User_Score", fontsize = 16, labelpad=10)
plt.ylabel("# of Games", fontsize = 16, labelpad=10)
plt.title("User Score Distribution", fontsize=20)

plt.show()

# Bar Plots

- Need Categorical Data

In [ ]:
df2['Rating'].value_counts().plot.bar()

In [ ]:
df2['Genre'].value_counts().plot.bar(color='g')

In [ ]:
df2['Platform'].value_counts().plot.bar(color='m')

In [ ]:
df_scoreMean = df2[["User_Score", "Critic_Score", "Genre"]].groupby(["Genre"]).agg("mean")
df_scoreMean.plot.bar(figsize=(16,5))

In [ ]:
df_salesMean = df1[["Global_Sales", "Genre"]].groupby(["Genre"]).agg("sum")

df_salesMean.sort_values("Global_Sales",ascending=True, inplace=True)

df_salesMean.plot.barh(figsize=(16,5))

plt.show()

# Box Plot

- Useful because shows median, 25% and 75% Quartiles, and 1.5x the IQR Range. Anything beyond this is usually referred to as an outlier.
- The dots shown are the outliers

In [ ]:
plt.figure(figsize=(16,5))

df2.boxplot(column='User_Score')

#plt.xlabel("User_Score", fontsize = 16, labelpad=10)
plt.ylabel("# of Games", fontsize = 16, labelpad=10)
plt.title("User Score Box Plot", fontsize=20)

plt.show()

In [ ]:
plt.figure(figsize=(16,5))

df2.boxplot(column='User_Score', showfliers=False)

#plt.xlabel("User_Score", fontsize = 16, labelpad=10)
plt.ylabel("# of Games", fontsize = 16, labelpad=10)
plt.title("User Score Box Plot", fontsize=20)

plt.show()

In [ ]:
pd.plotting.scatter_matrix(df1, figsize=(18,6))

plt.show()

## 2 - Go Deeper with Seaborn

In [ ]:
df2.corr()

In [ ]:
plt.figure(figsize=(15,6))

ax=sns.heatmap(df2.corr())
ax.set_xlabel(xlabel='Category', fontsize=16)
ax.set_ylabel(ylabel="Category", fontsize=16)
ax.set_title(label="Correlation Displayed as a Heatmap", fontsize=20)

plt.show()

In [ ]:
plt.figure(figsize=(15,6))

cmap_list = ['plasma','terrain','viridis','coolwarm','magma', "YlGnBu","Greens","Blues"]

ax=sns.heatmap(df2.corr(), annot=True, cmap=cmap_list[-1], fmt = '.2f', robust=True)
ax.set_xlabel(xlabel='Category', fontsize=16)
ax.set_ylabel(ylabel="Category", fontsize=16)
ax.set_title(label="Correlation Displayed as a Heatmap", fontsize=20)


plt.show()

In [ ]:
df_platGenre = pd.crosstab(df1['Platform'],df1['Genre'])
df_platGenre

In [ ]:
plt.figure(figsize=(15,7))

ax = sns.heatmap(df_platGenre, annot=True, cmap=cmap_list[-2], fmt="d")
ax.set_title(label="Platform vs. Genre", fontsize=20)

plt.show()

In [ ]:
df_platGenreTotal = df_platGenre.sum(axis=1).sort_values(ascending = False)
df_platGenreTotal = df_platGenreTotal[df_platGenreTotal>50]

In [ ]:
df_platGenreTotal

In [ ]:
sns.jointplot(y='Critic_Score',x='Global_Sales',data=df2,kind='reg')
plt.title("Sales vs. Critic Score")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(16,7))
ax = sns.barplot(y = df_platGenreTotal.index, x = df_platGenreTotal.values, orient='h')

ax.set_xlabel(xlabel='Amount of Games Developed (Total)', fontsize=16)
ax.set_ylabel(ylabel="Genre", fontsize=16)
ax.set_title(label="Number of Games Sold Per Platform", fontsize=20)

plt.show()

In [ ]:
df_platGenre['Total'] = df_platGenre.sum(axis=1)
df_platGenre.head()

In [ ]:
df_platYear = pd.crosstab(df1['Platform'],df1['Year_of_Release'])
df_platYear

In [ ]:
df_platYear = df_platYear[df_platYear.max(axis=1)>50]

In [ ]:
plt.figure(figsize=(16,8))
sns.heatmap(df_platYear.iloc[:,10:-2], annot=True, fmt="d",cmap=cmap_list[2])
#plt.xticks(rotation = 90)
plt.show()

In [ ]:
df1_year = df1.groupby(['Year_of_Release']).sum()
df1_year.reset_index(inplace=True)
df1_year.head()

In [ ]:
sns.set_style("darkgrid")  #dark,whitegrid, darkgrid, white, ticks

In [ ]:
colors = sns.color_palette("GnBu_d", len(df1_year['Year_of_Release']))
plt.figure(figsize=(16,7))

ax = sns.barplot(y = df1_year['Global_Sales'], x = df1_year['Year_of_Release'], palette=colors)
ax.set_xlabel(xlabel='Year', fontsize=16)
ax.set_xticklabels(labels = df1_year['Year_of_Release'], fontsize=12, rotation=50)
ax.set_ylabel(ylabel='$ (Millions)', fontsize=16)
ax.set_title(label='Game Sales in $ Millions Per Year', fontsize=20)

ax.set_facecolor('xkcd:yellow tan')   #'xkcd:salmon',    https://xkcd.com/color/rgb/

plt.show()

In [ ]:
PubRelease = df1.groupby(['Publisher']).count().iloc[:,0]
PubRelease = pd.DataFrame(PubRelease.sort_values(ascending=False))[0:10]
#publishers = PubRelease.index
PubRelease.columns = ['Releases']

In [ ]:
PubRelease

In [ ]:
colors1 = sns.color_palette("magma", len(PubRelease))

plt.figure(figsize=(12,6))

ax = sns.barplot(y = PubRelease.index , x = 'Releases', data=PubRelease, orient='h', palette=colors1)
ax.set_xlabel(xlabel='Number of Releases', fontsize=16)
ax.set_ylabel(ylabel='Publisher', fontsize=16)
ax.set_title(label='Top 10 Publishers by Games Released', fontsize=20)
ax.set_yticklabels(labels = PubRelease.index, fontsize=14)

plt.show()

In [ ]:
labels = PubRelease.index
sizes= PubRelease['Releases']

fig,ax1 = plt.subplots(figsize=(12,8))

ax1.pie(sizes, labels=labels,autopct='%1.1f%%', shadow=True, startangle=90)  #autopct 

plt.show()

In [ ]:
PubRevenue = df1.groupby(['Publisher']).sum()['Global_Sales']
PubRevenue = pd.DataFrame(PubRevenue.sort_values(ascending=False))[0:10]

PubRevenue.head()

In [ ]:
colors2 = sns.color_palette("terrain", len(PubRevenue))

plt.figure(figsize=(12,8))
ax = sns.barplot(y = PubRevenue.index , x = 'Global_Sales', data=PubRevenue, orient='h', palette=colors2)
ax.set_xlabel(xlabel='Revenue in $ Millions', fontsize=16)
ax.set_ylabel(ylabel='Publisher', fontsize=16)
ax.set_title(label='Top 10 Total Publisher Game Revenue', fontsize=20)
ax.set_yticklabels(labels = PubRevenue.index, fontsize=14)
plt.show()

#### Subplots

In [ ]:
fig, [ax1, ax2] = plt.subplots(1,2, figsize=(18,6))

ax1 = sns.barplot(y = PubRelease.index , x = 'Releases', data=PubRelease, orient='h', ax=ax1, palette=colors1)
ax1.set_xlabel(xlabel='Number of Releases', fontsize=16)
ax1.set_ylabel(ylabel='Publisher', fontsize=16)
ax1.set_title(label='Top 10 Publishers by Games Released', fontsize=20)
ax1.set_yticklabels(labels = PubRelease.index, fontsize=14)
ax1.set_facecolor('xkcd:ice')


ax2 = sns.barplot(y = PubRevenue.index , x = 'Global_Sales', data=PubRevenue, orient='h', palette=colors2, ax=ax2)
ax2.set_xlabel(xlabel='Revenue in $ Millions', fontsize=16)
ax2.set_ylabel(ylabel='Publisher', fontsize=16)
ax2.set_title(label='Top 10 Total Publisher Game Revenue', fontsize=20)
ax2.set_yticklabels(labels = PubRevenue.index, fontsize=14)
ax2.set_facecolor('xkcd:ecru')

plt.tight_layout()
plt.show()

# Line Graph

In [ ]:
regions = ['North America','European Union','Japan','Other','Total(Global)']

plt.figure(figsize=(16,6))

ax = sns.pointplot(x=df1_year['Year_of_Release'], y=df1_year['NA_Sales'], color='b', scale=0.7)
ax = sns.pointplot(x=df1_year['Year_of_Release'], y=df1_year['EU_Sales'], color='g', scale=0.7)
ax = sns.pointplot(x=df1_year['Year_of_Release'], y=df1_year['JP_Sales'], color='m', scale=0.7)
ax = sns.pointplot(x=df1_year['Year_of_Release'], y=df1_year['Other_Sales'], color='y', scale=0.7)
ax = sns.pointplot(x=df1_year['Year_of_Release'], y=df1_year['Global_Sales'], color='r', scale=0.7)

ax.set_xticklabels(labels=df1_year['Year_of_Release'], fontsize=10, rotation=60)
ax.set_xlabel(xlabel='Year', fontsize=16)
ax.set_ylabel(ylabel='Revenue in $ Millions', fontsize=16)
ax.set_title(label='Total Revenue Per Region by Year (in $ Millions)', fontsize=20)
ax.legend(handles=ax.lines[::len(df1_year['Year_of_Release'])+1], labels=regions, fancybox=True, fontsize=10)

plt.show()

## Boxplot

In [ ]:
Publishers_10 = PubRevenue.head(10)
df_10 = df1[df1['Publisher'].isin(Publishers_10.index)]

In [ ]:
plt.figure(figsize=(14,6))

sns.boxplot(x=df_10['Publisher'], y=df_10['Global_Sales'],data=df_10, palette="Set3")

plt.title(label='Boxplot of Top 10 Publishers', fontsize=20)

plt.xticks(rotation=60, fontsize=14)
plt.tight_layout()

plt.show()

In [ ]:
plt.figure(figsize=(14,8))

sns.boxplot(x=df_10['Publisher'], y=df_10['Global_Sales'],data=df_10, palette="Set3", showfliers=False)

plt.title(label='Boxplot of Top 10 Publishers', fontsize=20)

plt.xticks(rotation=60, fontsize=14)
plt.tight_layout()

plt.show()

## Violin Plot

In [ ]:
df10_temp = df_10[(df_10['Global_Sales']<=2) & (df_10['Global_Sales']>=0.05)]

In [ ]:
plt.figure(figsize=(14,8))
sns.violinplot(x=df10_temp['Publisher'], y=df10_temp['Global_Sales'],data=df10_temp, showfliers=False)

plt.xticks(rotation=60, fontsize=14)
plt.tight_layout()
plt.show()
#sns.despine(offset=10, trim=True);

In [ ]:
PubRelease.plot(kind='pie', subplots=True, figsize=(16,8))

# Dist Plot

In [ ]:
fig, [ax1, ax2] = plt.subplots(1,2, figsize=(15,5))

x3 = df['Global_Sales']
sns.distplot(x3, bins=50, ax=ax1, color='g');

x4 = df['NA_Sales']
sns.distplot(x4, bins=50, ax=ax2, color='m');
   
#ax1.set_ylabel('Probability')
ax1.set_xlabel('Value')
ax2.set_xlabel('Value')

In [ ]:
df_NoO = df[(df['Global_Sales']<2) & (df['Global_Sales']>0.0)  ]


fig, [ax1, ax2] = plt.subplots(1,2, figsize=(20,8))

x3 = df_NoO['Global_Sales']
sns.distplot(x3, bins=30, ax=ax1, color='g');

x4 = df_NoO['NA_Sales']
sns.distplot(x4, bins=30, ax=ax2, color='m');
   
ax1.set_ylabel('Games', fontsize=20)
ax1.set_xlabel('Global_Sales', fontsize=20)
ax2.set_xlabel('NA_Sales', fontsize=20)

plt.show()

# Word Cloud

In [ ]:
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from PIL import Image

In [ ]:
text = df1.Name

In [ ]:
text[0]

In [ ]:
type(text[0])

In [ ]:
l = ''

for i, item in text.iteritems():
    l += (' ' + item)

In [ ]:
stopwords = ["II",'The','the','of','and','of the','Game','III']

In [ ]:
wordcloud1 = WordCloud(stopwords=stopwords,max_font_size=70,max_words=100,background_color="white").generate(l)

In [ ]:
plt.imshow(wordcloud1, interpolation="bilinear")
plt.axis("off")
plt.show()